body {
    background-color: #d8e1e8;
font-family: sans-serif;
text-align: center;
}
h1{
    color: #FFFFFF
    font-size: 20vw;
}
.hero {
    background-image: url('anna-oliinyk-fMWkiXzD7Hs-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero > * {
    position: relative;
    z-index: 2;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #89989f;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}